DEBUG=True
ALLOW_ROBOTS=False
SECRET_KEY='django-insecure-i)(xphn_yf^pzx244-5@jv5*2&p29tvw&n4wxsd(_x0_xsnej='
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=sqlite:///db.sqlite3
# DATABASE_URL=mysql://db_user:my_secure_password@localhost:3306/my_mysql_db
# DATABASE_URL=psql://db_user:my_secure_password@localhost:5432/my_postgres_db

CACHE_URL=memcache://127.0.0.1:11211,127.0.0.1:11212,127.0.0.1:11213
REDIS_URL=rediscache://127.0.0.1:6379/1?client_class=django_redis.client.DefaultClient&password=ungithubbed-secret

SERVER_EMAIL=webmaster@example.com

STATIC_URL='/static/'
STATIC_ROOT='staticfiles'

MEDIA_URL='/media/'
MEDIA_ROOT='mediafiles'
